@import "tailwindcss";

@theme {
  @keyframes marquee {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
  }

  --color-primary: #0B3C5D;
  --color-secondary: #1C6E8C;
  --color-accent: #F26419;
  --color-brand-bg: #F8F9FA;
  --color-brand-text: #212529;
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}
